.nav {
    left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #333;
}

.nav-item-left {
    border-right: 1px solid #bbb;
    float: left;
}

.nav-item-right {
    border-left: 1px solid #bbb;
    float: right;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    background-color: #111;
}
